body {
  background: #faf3dd;
  margin:0%;
}

header {
  background: #283044;
}

header::after {
  content: '';
  display: table;
  clear: both;
  width:100%;
}
nav {
  text-align: center;
  padding-bottom: 20px;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left:70px;
  padding-top: 23px;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.soHead {
  text-align: center;
  font-size: 50px;
  color:#08415c;
}

.imageEdit {
  margin-top: 2em;
  width:50%;
  height: auto;
}
